


%div{"ng_controller" => "MainCtrl"}
  .row.ng-cloak
    .small-12.medium-6.columns.top-padding
      .row.ng-cloak
        .medium-10.columns
          %select{"ng-model"=>"select.orig", "id"=>"origin"}
            %option{"ng-repeat"=>"origin in origins", "value"=>"{{origin.id}}"}
              {{origin.origin}}
          %select{"ng-model"=>"select.dest", "id"=>"destination"}
            %option{"ng-repeat"=>"destination in destinations", "value"=>"{{destination.id}}"}
              {{destination.destination}}

      .row.ng-cloak
        .medium-12.columns.top-padding
          %div
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'price'; reverse=!reverse", "value"=>"price"}
              price
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'departure_time'; reverse=!reverse", "value"=>"departure_time"}
              date
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'duration'; reverse=!reverse", "value"=>"duration"}
              duration
        
        .row.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
          .medium-12.columns
            .row.result-bars-bg{ "ng-repeat"=>"flight in flights | orderBy:sortType:reverse | filter:{origin_id:select.orig, destination_id:select.dest} | limitTo: 6"}
              %div.result-bars{"ng-click"=>"findFlightInfo(flight.id)"}  
                %ul.small-block-grid-5.result-height
                  %li
                    %p.flight-text.flight-text-padding
                      ${{flight.price}}
                  %li
                    %p.flight-text
                      {{flight.departure_time}}
                  %li
                    %p.flight-text.flight-text-padding
                      {{flight.duration}}
                  %li
                    %p.flight-text.distance-width
                      {{flight.distance}}
                  %li
                    %p.flight-text.flight-text-padding
                      {{flight.flight_number}}
            %br
        .row.ng-cloak{ 'ng-show'=>"amenitiesInfo"}
          .medium-12.columns
            %ul.small-block-grid-3
              %li.flight-detail-text.flight-details.width-90
                something bout this one
              %li.flight-detail-text.flight-details.width-90
                something bout this one
              %li.flight-detail-text.flight-details.width-90
                something bout this one

    .small-12.medium-6.columns.ng-cloak      
      %div.flight-text{ 'ng-show'=>"myFlight"}
        %ul.small-block-grid-3
          %li.columns
            .flight-details
              .row
                .medium-12.columns
                  %h3.fl-detail-headings Route Number
              .row
                .medium-12.columns
                  %h3.flight-detail-text {{myFlight[0].flight_number}}
          %li.columns
            .flight-details
              .row
                .medium-12.columns
                  %h3.fl-detail-headings Flight ID
              .row
                .medium-12.columns
                  %h3.flight-detail-text {{myFlight[0].ship_id}}
          %li.columns
            .flight-details
              .row
                .medium-12.columns
                  %h3.fl-detail-headings Ship Name
              .row
                .medium-12.columns
                  %h3.flight-detail-text {{myShip[0].name}}

        %button{ 'class'=>"btn btn-info", 'ng-click'=>"viewAmenities()"} 
          amenities
        %button{ 'class'=>"btn btn-info", 'ng-click'=>"bookPassenger()"} 
          Book

      %div.ng-cloak{ 'ng-show'=>"bookFlight"}
        .row.form-padding
          .medium-7.columns.medium-centered
            %h4 Passenger Information

        .row
          .medium-11.medium-offset-1.columns
            %form
              %fieldset
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.first_name", 'placeholder'=>"First Name", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.last_name", 'placeholder'=>"Last Name", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.email", 'placeholder'=>"Email", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.phone", 'placeholder'=>"Phone", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.address", 'placeholder'=>"Address", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.emergency_contact", 'placeholder'=>"Emergency Contact", 'maxlength'=>"250"}
                %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.date_of_birth", 'placeholder'=>"Date of Birth", 'maxlength'=>"250"}
                %button{ 'class'=>"btn btn-primary", 'ng-click'=>"createPassenger(formData)"}
                  Create
              
     