.row
  .medium-4.medium-centered.columns
    %input#origin{:type => "text", :placeholder => "Picking An Origin"}
    %br 
    %input#destination{:type => "text", :placeholder => "Picking A Destination"}
    %br

    =date_select "flight", "departure", :prompt => {day: "Select Day", month: "Select Month", year: "Select Year"}

    %button.button
      Get me off this rock!    
