.row#landing-search
  .medium-3.medium-9-offset.columns
    %h2.index 
      Mars
      %span Attracts!
    =form_tag flights_search_path, :method => "get" do
      =select_tag "origin", options_from_collection_for_select(@origins, "id", "origin")
      =select_tag "destination", options_from_collection_for_select(@destinations, "id", "destination")
      %br
      =radio_button_tag "sort", "price"
      %span.sorted price ||
      =radio_button_tag "sort", "date"
      %span.sorted date ||
      =radio_button_tag "sort", "duration"
      %span.sorted duration
      %br
      =submit_tag "Get me off this rock!", :name => nil

// Image of orbits generated daily
// =image_tag('http://humbabe.arc.nasa.gov/MarsToday/UL.gif')