.row#landing-search
  .medium-3.medium-9-offset.columns
    %a{ :href => '/'}
      %h2.index
        Mars
        %span Attracts!
      
%div{"ng-controller" => "MainCtrl"}
  .row.ng-cloak

    // Search fields that get overlaid by amenities after selecting flight
    .small-12.medium-6.columns.top-padding{'ng-hide'=>"flightSearch"}
      .row.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
        .medium-10.columns
          %select{"ng-model"=>"select1.orig", "id"=>"origin"}
            %option{"ng-repeat"=>"origin in origins", "value"=>"{{origin.id}}"}
              {{origin.origin}}
          %select{"ng-model"=>"select2.dest", "id"=>"destination"}
            %option{"ng-repeat"=>"destination in destinations", "value"=>"{{destination.id}}"}
              {{destination.destination}}
          %button{'ng-click'=>"showFlights()"}
            Get me off this rock!

      // Buttons for the sorting of search results 
      .row.ng-cloak.animate-show.repeated-item{ 'ng-hide'=>"amenitiesInfo" }
        .medium-12.columns.top-padding
          %div.animate-show.repeated-item{"ng-show"=>"revealSearch"}
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'price'; reverse=!reverse; priceArwToggle()", "value"=>"price"}
              price 
              %i#priceToggle{ 'class' => 'fi-arrow-{{priceArrow}}'}
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'departure_time'; reverse=!reverse; dateArwToggle()", "value"=>"departure_time"}
              date
              %i#dateToggle{ 'class' => 'fi-arrow-{{dateArrow}}'}
            %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'duration'; reverse=!reverse; durationArwToggle()", "value"=>"duration"}
              duration
              %i#durationToggle{ 'class' => 'fi-arrow-{{durationArrow}}'}

        // Header for flight search results
        .flight-search.animate-show.repeated-item{"ng-show"=>"revealSearch"}
          .row
            .small-12.medium-12.columns
              .row.result-header
                .small-2.medium-2.columns
                  Price
                .small-3.medium-3.columns
                  Departure
                .small-3.medium-3.columns
                  Duration
                .small-2.medium-2.columns
                  Distance
                .small-2.medium-2.columns
                  Flight #
                  %br

          // Rows of flight search results
          .row.flight-box.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
            .medium-12.columns
              .row.result-bars{"ng-repeat"=>"flight in flights | orderBy:sortType:reverse | filter:{origin_id:select1.orig, destination_id:select2.dest} | limitTo:5", "class"=>"repeated-item"}
                %div{"ng-click"=>"findFlightInfo(flight.id)"}  
                  %ul.small-block-grid-5.result-height
                    %li
                      %p.flight-text.flight-text-padding
                        ${{flight.price}}
                    %li
                      %p.flight-text
                        {{flight.departure_time.slice(0,10)}}
                    %li
                      %p.flight-text.flight-text-padding
                        {{flight.duration}} months
                    %li
                      %p.flight-text.distance-width
                        {{flight.distance}}
                    %li
                      %p.flight-text.flight-text-padding
                        {{flight.flight_number}}
            %br

    // Specific Flight Information      

    .small-12.medium-6.columns.ng-cloak{ 'ng-hide'=>'amenitiesInfo; '}
      %div.flight-text{'class'=>'a-flight', 'ng-show'=>"myFlight"}
        .flight-card{ 'ng-hide'=>'updateInfo;pickItButton; bookFlight','ng-click'=>"hideFlightSearch()"}
          .row
            .medium-4.columns.center-text.no-pad-right
              %hr
              %hr
            .medium-4.columns.center-text.no-pad
              %h5.fl-detail-headings.neg-margin-top-3 FLIGHT NUMBER
            .medium-4.columns.center-text.no-pad-left
              %hr
              %hr
          .row
            .medium-12.columns.center-text
              %h1.flight-detail-text.fl-margin {{myFlight[0].flight_number}}
          .row
            .medium-12.columns.center-text
              %hr
              %hr
          .row
            .medium-6.columns.center-text
              %p.fl-detail-headings LAUNCH SITE
              %h3.flight-detail-text {{origins[myFlight[0].origin_id].origin}}
            .medium-6.columns.center-text
              %p.fl-detail-headings MARTIAN COLONY
              %h3.flight-detail-text.fl-margin {{destinations[myFlight[0].destination_id].destination}}
          .row
            .medium-12.columns.center-text
              %hr
              %hr
          .row
            .medium-7.columns.right-align
              %p.fl-detail-headings Ship Name
              %h3.flight-detail-text {{myShip[0].name}}
              %br
              %br
              .ship-card
                %p.ship-detail-headings PLATING STYLE
                %span.ship-detail-text {{myShip[0].plating}}
                %br
                %p.ship-detail-headings PROPULSION SYSTEM
                %span.ship-detail-text {{myShip[0].propulsion}}
                %br
                %p.ship-detail-headings SPEED
                %span.ship-detail-text {{myShip[0].speed}} m/s
                %br
                %p.ship-detail-headings CAPACITY
                %span.ship-detail-text {{myShip[0].capacity}} passengers
            .medium-5.columns.center-text
              =image_tag 'targus_full.png', :class=>'ship-pic-1'
          .row
            .medium-12.columns


    // Collecting the buttons for showing amenities and booking form
    .small-6.medium-6.columns
      

      %div{'ng-hide'=>'updateInfo'}  
        %div{'ng-hide'=>'amenitiesInfo'}  
          %button{'ng-show'=>'bookButton', 'class'=>"btn btn-info", 'ng-click'=>"bookPassenger()"} 
            Book My Flight
            %i{ 'class' => 'fi-arrow-right'}

    // Graph placeholder for weather
    .small-12.medium-6.columns.ng-cloak{ 'ng-hide'=>"bookFlight" }
      %div{"ng-controller" => "ChartCtrl"}
        %div{"dx-chart" => "chartOptions", 'ng-show'=>'flightSearch'}

   
    // Form for passenger booking
  %div.ng-cloak{ 'ng-show'=>"bookFlight" }
    .row
      .medium-5.columns{ 'ng-hide'=>'amenitiesInfo'}
        .row{ 'ng-hide'=>'updateInfo'}
          %h4.medium-12.columns.passenger-header Passenger Information
        .row{ 'ng-show'=>'updateInfo'}
          %h4.medium-12.columns.passenger-header{ 'ng-hide'=>'tripConfirmed'} Update Information
        .row
          .medium-11.medium-offset-1.columns{ 'ng-hide'=>'amenitiesInfo'}
            %div{ 'ng-hide'=>'tripConfirmed'}  
              .row
                .medium-6.columns
                  %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.first_name", 'placeholder'=>"First Name", 'maxlength'=>"250"}
                .medium-6.columns
                  %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.last_name", 'placeholder'=>"Last Name", 'maxlength'=>"250"}
              .row
                .medium-12.columns
                  %input{ 'type'=>"date", 'class'=>"span12", 'ng-model'=>"passengerData.date_of_birth", 'placeholder'=>"Stardate of Birth", 'maxlength'=>"250"}
              .row
                .medium-6.columns
                  %input{ 'type'=>"email", 'class'=>"span12", 'ng-model'=>"passengerData.email", 'placeholder'=>"Email", 'maxlength'=>"250"}
                .medium-6.columns
                  %input{ 'type'=>"tel", 'class'=>"span12", 'ng-model'=>"passengerData.phone", 'placeholder'=>"Phone", 'maxlength'=>"250"}
              .row
                .medium-12.columns
                  %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.address", 'placeholder'=>"Address", 'maxlength'=>"250"}
              .row
                .medium-12.columns
                  %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.emergency_contact", 'placeholder'=>"Emergency Contact", 'maxlength'=>"250"}
        // Submit buttons
        .row
          .medium-11.medium-offset-1.columns    
            .row{ 'ng-show'=>'updateInfo'}
            // Create passenger submit button
            .row{ 'ng-hide'=>'amenitiesInfo; updateInfo'}
              .medium-12.columns.medium-centered.btn-center    
                %button{ 'class'=>"btn btn-primary", 'ng-click'=>"createPassenger(passengerData); viewAmenities()"}
                  Book!
              // Update passenger submit button
              .medium-12.columns.medium-centered.btn-center{"ng-hide"=>"tripConfirmed; bookFlight"}   
                %button{ 'class'=>"btn btn-primary", 'ng-click'=>"congratsPage(); updatePassenger(passengerData); addAmenities(amenityData); "}
                  Update your info!
          // Hidden fields for adding Amenities to trip
          .medium-7.columns
            .row
              .medium-12.columns
                %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id1",  'maxlength'=>"250"}    
            .row
              .medium-12.columns
                %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id2",  'maxlength'=>"250"}    
            .row
              .medium-12.columns
                %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id3",  'maxlength'=>"250"}    
            .row
              .medium-12.columns
                %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id4",  'maxlength'=>"250"}    
            
    // Passenger information panel after form submit
    
    .row.ng-cloak{ 'ng-show'=>"amenitiesInfo"}
      .medium-4.columns{'ng-hide'=>'tripConfirmed'}
        %dl.tabs(data-tab)
          %dd.active
            %a{ "href"=>"#panel2-1"} Passenger Info
          %dd
            %a{ "href"=>"#panel2-2"} Flight Info
        .tabs-content
          // Info panel 1
          #panel2-1.content.active
            .medium-12.columns.info-review-panel
              
              .row
                .medium-6.columns
                  .row
                    .medium-10.columns.medium-offset-1
                      %h2 {{formData.first_name}}
                      %h2 {{formData.last_name}}
              
                
              .row
                .medium-6.columns
                  %p Comm-SHA: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h5 {{formData.phone}}
              
                .medium-6.columns
                  %p Stardate of Birth: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h5 {{formData.date_of_birth}}
              .row
                .medium-12.columns
                  %p Email: 
                  .row
                    .medium-10.columns.medium-offset-1
                      %h5 {{formData.email}}
              .row
                .medium-12.columns
                  %p Earth Address: 
                  .row
                    .medium-10.columns.medium-offset-1
                      %h5 {{formData.address}}
              .row
                .medium-12.columns
                  %p Emergency Contact: 
                  .row
                    .medium-10.columns.medium-offset-1
                      %h5 {{formData.emergency_contact}}
              
          #panel2-2.content
          // Info panel 2
            .info-review-panel
              .row
                .medium-5.columns
                  %p Launch Site: 
                  .row
                    .medium-10.columns.medium-offset-1
                      %h4 {{origins[myFlight[0].origin_id].origin}}
             
                .medium-7.columns
                  %p Martian Colony: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h4 {{destinations[myFlight[0].destination_id].destination}}
              .row
                .medium-5.columns
                  %p Launch Date: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myFlight[0].departure_time}}
                .medium-7.columns
                  %p Arrival Date: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myShip[0].arrival_time}}
              .row
                .medium-5.columns
                  %p Flight#: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myFlight[0].flight_number}}
                .medium-7.columns
                  %p Ship: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myShip[0].name}}
              .row
                .medium-5.columns
                  %p Capacity: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myShip[0].capacity}}
                .medium-7.columns
                  %p Speed: 
                  .row
                    .medium-10.columns.medium-offset-2
                      %h3 {{myShip[0].speed}}
              // Auto-populating list of selected Amenities
              .row
                .medium-12.columns{'ng-show'=>'amenity_id1 || amenity_id2 || amenity_id3 || amenity_id4'}
                  %p Amenities: 
                  .row{'ng-show'=>'amenity_id1'}
                    .medium-10.columns.medium-offset-1
                      %h5 {{amenities[amenity_id1-1].activity}}
                  .row{'ng-show'=>'amenity_id2'}
                    .medium-10.columns.medium-offset-1
                      %h5 {{amenities[amenity_id2-1].activity}}
                  .row{'ng-show'=>'amenity_id3'}
                    .medium-10.columns.medium-offset-1
                      %h5 {{amenities[amenity_id3-1].activity}}
                  .row{'ng-show'=>'amenity_id4'}
                    .medium-10.columns.medium-offset-1
                      %h5 {{amenities[amenity_id4-1].activity}}
      // Ship diagram indicating seating arrangement
      .medium-4.columns.img-container{'ng-hide'=>'tripConfirmed'}
        .img-background
          .row
            .medium-12.columns
              %h2 Living Quarters
          .row
            .medium-12.columns
              =image_tag 'targus.png', :class=>'ship-pic'
      // Amenity preview button
      .medium-4.columns{'ng-hide'=>'tripConfirmed'}
        .amenity-preview-panel{"ng-click"=>"showAmenities()", "ng-hide"=>"amenityList"}
          .amenity-preview-text
            %h1 View
            %h1 Available
            %h1 Amenities
        // Amenity list
        .row.activity-bars{ "ng-show"=>"amenityList", "ng-repeat"=>"amenity in amenities", 'class'=> '{{amenity.amenityToggle}}', 'ng-click'=>"amenityToggle(amenity.id)"}
          %div{"ng-click"=>"findAmenityInfo(amenity.id) "}
            .medium-9.columns
              %h5.amenity-detail-text
                {{amenity.activity}}
            .medium-3.columns
              %h5.amenity-detail-text
                {{amenity.price}}
            .medium-12.columns
              %p.amenity-detail-text
                {{amenity.description}}
      .row{'ng-hide'=>'tripConfirmed'}
        .medium-12.columns.center-text
          // Button brings back the form for information updating
          %button{ 'class'=>"btn btn-primary button-pad", 'ng-click'=>"showUpdateForm(); viewAmenities()"}
            Update Your Info
          // Button sumbits amenities and brings you to the congrats page
          %button{ 'class'=>"btn btn-primary button-pad", 'ng-click'=>"addAmenities(amenityData); congratsPage()"}
            Confirm Trip
    // Confirm trip/Congrats page
    .row{"ng-show"=>"tripConfirmed"}
      .medium-12.columns
        %h1.congrats-text congratulations. you are going to mars! Lift off is in a mere 80 years!