%h1 Flights
  - @flights.all.each do |flight|
    %ul
      %li 
        = flight.origin
      %li 
        = flight.destination
      %li 
        = flight.departure_time
      %li 
        = flight.arrival_time

