


%div{"ng_controller" => "MainCtrl"}
  .row
    .medium-4.columns
      %select{"ng-model"=>"select.orig"}
        %option{"ng-repeat"=>"origin in origins", "value"=>"{{origin.id}}"}
          {{origin.origin}}
      %select{"ng-model"=>"select.dest"}
        %option{"ng-repeat"=>"destination in destinations", "value"=>"{{destination.id}}"}
          {{destination.destination}}
      %div
        %input{"type"=>"radio", "ng_model" => "sortType", "value"=>"price"}
        %span price
        %input{"type"=>"radio", "ng_model" => "sortType", "value"=>"departure_time"}
        %span date
        %input{"type"=>"radio", "ng_model" => "sortType", "value"=>"duration"}
        %span duration
  .row
    .medium-6.columns        
      .row.result-bars{ "ng-repeat"=>"flight in flights | orderBy:sortType | filter:{origin_id:select.orig, destination_id:select.dest}"}
        %div{"ng-click"=>"findFlightInfo(flight.id)"}  
          .medium-1.columns
            {{flight.flight_number}}
          .medium-2.columns
            {{flight.departure_time}}
          .medium-2.columns 
            {{flight.arrival_time}}
          .medium-3.columns
            {{flight.distance}}
          .medium-2.columns
            {{flight.duration}}
          .medium-2.columns
            ${{flight.price}}
      %br
    .medium-6.columns        
      %div{ 'ng-show'=>"myFlight"}
        {{myFlight[0].flight_number}}
        {{myFlight[0].ship_id}}
        {{myShip[0].name}}
        .row.form-padding
          .medium-6.columns.medium-centered
            %h1 Passenger Information
        .row
          .medium-6.columns
          %form
            %fieldset
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.first_name", 'placeholder'=>"First Name", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.last_name", 'placeholder'=>"Last Name", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.email", 'placeholder'=>"Email", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.phone", 'placeholder'=>"Phone", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.address", 'placeholder'=>"Address", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.emergency_contact", 'placeholder'=>"Emergency Contact", 'maxlength'=>"250"}
              %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"formData.date_of_birth", 'placeholder'=>"Date of Birth", 'maxlength'=>"250"}
              %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-model'=>"formData.flight_id", 'value'=>{{myFlight[0].id}}, 'placeholder'=>"Date of Birth", 'maxlength'=>"250"}
              %button{ 'class'=>"btn btn-primary", 'ng-click'=>"createPassenger(formData)"}
                Create
              
     