


.row
  .medium-6.medium-centered.columns
    %h2.index 
      Mars 
      %span Attracts!
.row#landing-search
  .medium-4.medium-centered.columns
    =form_tag flights_search_path, :method => "get" do
      =select_tag "origin", options_from_collection_for_select(@origins, "id", "origin")
      =select_tag "destination", options_from_collection_for_select(@destinations, "id", "destination")
      %br
      =radio_button_tag "sort", "price"
      %span price
      =radio_button_tag "sort", "date"
      %span date
      =radio_button_tag "sort", "duration"
      %span duration
      %br
      =submit_tag "Get me off this rock!", :name => nil

%div{"ng_controller" => "OriginCtrl"}
  %select{"ng-model"=>"originSelect"}
    %option{"ng-repeat"=>"origin in origins", "value"=>"{{origin.id}}"}
      {{origin.origin}}

  %div{"ng_controller" => "FlightCtrl"}  

    %table{"id"=>"searchTextResults"}
      %tr
        %th
          Name
        %th
          Phone
      %tr{ "ng-repeat"=>"flight in flights | orderBy:'origin_id' | filter:originSelect"}
        %td
          {{flight.origin_id}}
        %td
          {{flight.distance}}
        %td
          {{flight.price}}    
  
