


%div{"ng_controller" => "MainCtrl"}

  #pattern.pattern
    #wrap.wrap
      %nav#menu{ 'role'=>"navigation"}
        
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.first_name", 'placeholder'=>"First Name", 'maxlength'=>"250"}
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.last_name", 'placeholder'=>"Last Name", 'maxlength'=>"250"}
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.email", 'placeholder'=>"Email", 'maxlength'=>"250"}
        .row  
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.phone", 'placeholder'=>"Phone", 'maxlength'=>"250"}
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.date_of_birth", 'placeholder'=>"Date of Birth", 'maxlength'=>"250"}
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.address", 'placeholder'=>"Address", 'maxlength'=>"250"}
        .row
          .medium-12.columns
            %input{ 'type'=>"text", 'class'=>"span12", 'ng-model'=>"passengerData.emergency_contact", 'placeholder'=>"Emergency Contact", 'maxlength'=>"250"}
        .row
          .medium-3.columns.medium-centered    
            %button{ 'class'=>"btn btn-primary", 'ng-click'=>"createPassenger(passengerData)"}
              Book!

      .lorem.mod
        .row.ng-cloak
          .small-12.medium-6.columns.top-padding
            .row.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
              .medium-10.columns
                %select{"ng-model"=>"select.orig", "id"=>"origin"}
                  %option{"ng-repeat"=>"origin in origins", "value"=>"{{origin.id}}"}
                    {{origin.origin}}
                %select{"ng-model"=>"select.dest", "id"=>"destination"}
                  %option{"ng-repeat"=>"destination in destinations", "value"=>"{{destination.id}}"}
                    {{destination.destination}}

            .row.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
              .medium-12.columns.top-padding
                %div
                  %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'price'; reverse=!reverse", "value"=>"price"}
                    price
                  %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'departure_time'; reverse=!reverse", "value"=>"departure_time"}
                    date
                  %button{ 'class'=>"btn btn-warning", 'ng-click'=>"sortType = 'duration'; reverse=!reverse", "value"=>"duration"}
                    duration
              
              .row.flight-box.ng-cloak{ 'ng-hide'=>"amenitiesInfo"}
                .medium-12.columns.result-bars-bg
                  .row.result-bars{ "ng-repeat"=>"flight in flights | orderBy:sortType:reverse | filter:{origin_id:select.orig, destination_id:select.dest} | limitTo:5"}
                    %div{"ng-click"=>"findFlightInfo(flight.id)"}  
                      %ul.small-block-grid-5.result-height
                        %li
                          %p.flight-text.flight-text-padding
                            ${{flight.price}}
                        %li
                          %p.flight-text
                            {{flight.departure_time}}
                        %li
                          %p.flight-text.flight-text-padding
                            {{flight.duration}}
                        %li
                          %p.flight-text.distance-width
                            {{flight.distance}}
                        %li
                          %p.flight-text.flight-text-padding
                            {{flight.flight_number}}
                  %br
            .row.ng-cloak{ 'ng-show'=>"amenitiesInfo"}
              .medium-12.columns
                .row.activity-bars{ "ng-repeat"=>"amenity in amenities"}
                  %div{"ng-click"=>"findAmenityInfo(amenity.id)"}
                    .medium-9.columns
                      %h3.amenity-detail-text
                        {{amenity.activity}}
                    .medium-3.columns
                      %h3.amenity-detail-text
                        {{amenity.price}}
                    .medium-12.columns
                      %p.amenity-detail-text
                        {{amenity.description}}
                  

          .small-12.medium-6.columns.ng-cloak      
            %div.flight-text{ 'ng-show'=>"myFlight"}
              %ul.small-block-grid-3
                %li.columns
                  .flight-details
                    .row
                      .medium-12.columns
                        %h3.fl-detail-headings Route Number
                    .row
                      .medium-12.columns
                        %h3.flight-detail-text {{myFlight[0].flight_number}}
                %li.columns
                  .flight-details
                    .row
                      .medium-12.columns
                        %h3.fl-detail-headings Flight ID
                    .row
                      .medium-12.columns
                        %h3.flight-detail-text {{myFlight[0].ship_id}}
                %li.columns
                  .flight-details
                    .row
                      .medium-12.columns
                        %h3.fl-detail-headings Ship Name
                    .row
                      .medium-12.columns
                        %h3.flight-detail-text {{myShip[0].name}}

              .medium-12.columns
                %button{ 'class'=>"btn btn-info", 'ng-click'=>"viewAmenities()"} 
                  amenities 

                %button.menu-link{ 'href'=>"#menu"} 
                  Book

                %button{ 'class'=>"btn btn-primary", 'ng-click'=>"addAmenities(amenityData)"}
                  Add Amenities!
                .row
                  .medium-12.columns
                    %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id1",  'maxlength'=>"250"}    
                .row
                  .medium-12.columns
                    %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id2",  'maxlength'=>"250"}    
                .row
                  .medium-12.columns
                    %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id3",  'maxlength'=>"250"}    
                .row
                  .medium-12.columns
                    %input{ 'type'=>"hidden", 'class'=>"span12", 'ng-value'=>"amenity_id4",  'maxlength'=>"250"}    
                  
            
