%img#waxing-mars{:src => "/assets/planet_placeholder_index.png"}
%img#earth{:src => "/assets/earth_placeholder.png"}
.row
  .medium-6.medium-centered.columns
    %h2.index 
      Mars 
      %span Attracts!
.row#landing-search
  .medium-4.medium-centered.columns
    =form_tag flights_path, :method => "get" do
      =select_tag "origin", options_from_collection_for_select(@flight_origins, "id", "origin")
      =select_tag "destination", options_from_collection_for_select(@flight_destinations, "id", "destination")
      %br
      =submit_tag "Get me off this rock!", :name => nil