/ This is the unformatted email message that will be sent to passengers upon successful completion of 
/ the booking process. It mimics the content [and soon, style] of the final screen of the app.
/ DANGER ABOUNDS: Here by a mix of interpreted Ruby code [via Haml] and dual-bindings [via Angular.js]

/ %p= "In about #{((Flight.find(2).departure_time - Time.now)/60/60/24).to_i} short days, you're taking off for Mars."
%div{"ng-controller" => "MainCtrl"}
// Confirm trip/Congrats page
  .row{"ng-show"=>"tripConfirmed"}
    .medium-12.columns.confirm-main-container
      %hr
      %hr
      .medium-12.columns.confirm-header
        Ahoy, {{ formData.first_name }}!
      %hr
      %hr
        .confirm-text
          %p= "In a few[ish] short days, you're taking off for Mars. To prepare, we recommend you get your fill of swimming, carrying heavy things, and climbing trees."
          %p= "Here are the details of your flight for your records:"
      .row
        .medium-11.medium-centered.columns.confirm-flt-container
          .row
            .medium-3.columns.confirm-section-title
              .confirm-section-text
                Flight info
          .row
            .medium-6.columns
              .confirm-section-listings
                Flight #: {{myFlight[0].flight_number}}
              .confirm-section-listings
                Route: {{origins[myFlight[0].origin_id].origin}} >>> {{destinations[myFlight[0].destination_id].destination}} 
              .confirm-section-listings
                Ship: {{myShip[0].name}}
            .medium-6.columns
              .confirm-section-listings
                Departure: {{myFlight[0].departure_time.slice(5,7)}}/{{myFlight[0].departure_time.slice(8,10)}}/{{myFlight[0].departure_time.slice(0,4)}}
              .confirm-section-listings
                Duration: {{myFlight[0].duration}} months
              .confirm-section-listings
                Seat #: {{Math.floor(Math.random()*myShip[0].capacity)}}
      .row
        .medium-11.medium-centered.columns.confirm-pass-container
          .row
            .medium-3.columns.confirm-section-title
              .confirm-section-text
                Passenger info
          .row
            .medium-6.columns
              .confirm-section-listings
                Name: {{formData.first_name}} {{formData.last_name}}
              .confirm-section-listings
                DOB: {{formData.date_of_birth}} 
              .confirm-section-listings
                Adddress: {{formData.address}}
            .medium-6.columns
              .confirm-section-listings
                Comm-SHA: {{formData.phone}}
              .confirm-section-listings
                Email: {{formData.email}}
              .confirm-section-listings
                Emergency contact: {{formData.emergency_contact}}
      .row
        .medium-12.columns.confirm-footer
          .confirm-footer-text
            The TOTAL RECALL of your trip comes to: