/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import 'foundation-icons';

@font-face {
    font-family: 'Droid';
    src: url('./droid/droidsansmono-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./droid/droidsansmono-webfont.woff') format('woff'), 
         url('./droid/droidsansmono-webfont.ttf')  format('truetype'),
         url('./droid/droidsansmono-webfont.svg#svgFontName') format('svg');
}

body#background {
  // position: absolute;
  // z-index: 0;
  // background: url('hexgrid.png') repeat 5% 5%;
  background-color: #222422;
}

.grid img {
  position: absolute;
  z-index: 0;
  // background: url('hexgrid.png') repeat 5% 5%;
  // background-repeat: repeat-x;
  /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    // position: fixed;
    top: 0;
    left: 0;
}

.vid {
      position: absolute;
      z-index: -4;
      width: 100%;
      // height: 100%;
      top: 0;
      left: 0;
  }

video {
      position: absolute;
      z-index: -4;
      width: 100%;
      // height: 100%;
      top: 0;
      left: 0;
  }

.submit-button {
  width: 70%;
  height: 50px;
  background-color:#226877;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
}

.name {
  width: 47%;
}

