/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@font-face {
    font-family: 'EmpireState';
    src: url('./empire_state/empire_state-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./empire_state/empire_state-webfont.woff') format('woff'), 
         url('./empire_state/empire_state-webfont.ttf')  format('truetype'),
         url('./empire_state/empire_state-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Dieheld';
    src: url('./dieheld/dieheld-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./dieheld/dieheld-webfont.woff') format('woff'), 
         url('./dieheld/dieheld-webfont.ttf')  format('truetype'),
         url('./dieheld/dieheld-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Market';
    src: url('./market/market-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./market/market-webfont.woff') format('woff'), 
         url('./market/market-webfont.ttf')  format('truetype'),
         url('./market/market-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Tech';
    src: url('./tech/tech-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./tech/tech-webfont.woff') format('woff'), 
         url('./tech/tech-webfont.ttf')  format('truetype'),
         url('./tech/tech-webfont.svg#svgFontName') format('svg');
}

body#background {
  background: url('background.png') repeat 5% 5%
}
#midground {
  background: url('midground.png') repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -2;
}
#foreground {
  background: url('foreground.png') repeat 40% 110%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
}

.submit-button {
  width: 70%;
  height: 50px;
  background-color:#226877;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
}

.name {
  width: 47%;
}

input {background-color: transparent !important; color:tomato !important;}

