/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@font-face {
    font-family: 'Droid';
    src: url('./droid/droidsansmono-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./droid/droidsansmono-webfont.woff') format('woff'), 
         url('./droid/droidsansmono-webfont.ttf')  format('truetype'),
         url('./droid/droidsansmono-webfont.svg#svgFontName') format('svg');
}

body#background {
  /*background: url('graphy-dark-big.png') repeat 15% 15%;*/
  background-color: #180000;
  z-index: -3;
}

/*#midground {*/
/*  background: url('midground.png') repeat 20% 20%;
=======
  background: url('background.png') repeat 5% 5%;
  
}

.background {
  width:100%;
  background-color:rgba(41,44,47,.7);
  position:fixed;
  top:0;
  left:0;
}

#midground {
  background: url('midground.png') repeat 20% 20%;

  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -2;*/
/*}*/
/*#foreground {*/
/*  background: url('foreground.png') repeat 40% 110%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;*/
/*}*/

.submit-button {
  width: 70%;
  height: 50px;
  background-color:#226877;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
}

.name {
  width: 47%;
}

