@import 'compass';
// Declaring variables for colors
$lt-blue: #86B7C2;       // light blue
$lt-green: #C9D4AE;     // light green
$white: #FAFAFA;
$brown: #5C3515;
$near-black: #222422;

// flight#index page
.row#landing-search {padding: 2em 0em;}

h2.index{
  font-family: 'Droid', 'Arial', 'sans-serif';
  color: $white;
  font-size: 1.5em;
  padding-left: -1em;
  span {
    color: $lt-green;
  }
}

input {
  background-color: transparent !important; 
  color:$lt-blue !important;
  font-family: 'Droid', Arial, sans-serif;
}

#origin, #destination {
  background-color: transparent; 
  color:$lt-blue;
  font-family: 'Droid', Arial, sans-serif;
}

.sorted {  
  &:checked + label {
    color: red;
  }
}

.sorted {
  color: $white;
  font-size: 0.75em;
  font-family: 'Droid', Arial, sans-serif;
}

// flight#search page

.search-results {
  margin:3em 0 2em 3em;
  h1{
    color: white;
    font-size: 3em;
    font-family: 'Droid', 'Arial', 'sans-serif';
  }
}

.row.result-header {
  @include filter-gradient(#ffffff, #00ffff, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));
  .fade {
    color: white;
  }
}

.row.result-header {
  // background: rgba(255,255,255,1);
  // background: $lt-blue;
  font-family: 'Droid', 'Arial', 'sans-serif';
  margin-bottom: 25px;
  padding: 10px 0;
  border-radius: 9px 9px 0px 0px;
  color: $near-black;
}

.result-bars {
  transition: background 0.5s ease;
  background: rgba(255,255,255,.7);
  padding: 15px 0px;
  &:hover {
    background: rgba(255,255,255,1);
  }
}

.link {
  text-decoration: none;
  color: $near-black;
  &:active{
    color: #333333;
  }
}

h1.show {
  color:white;
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  font-size: 4em;
  padding-top: 1em;
}

.info {
  color: white;
  font-size: 2.5em;
  font-family: 'Tech', 'Arial', 'sans-serif';
}

.book_it {
  font-size: 3em;
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  margin-top: 1em;
  padding-bottom: 300px;
  a {
    color: tomato;
  }
}

// Earth Weather Panel
.weather.origin {
  color: $white;
  background-color: gray;
}






















