// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row#landing-search {padding: 8em 0em;}

#origin, #destination {background-color: transparent; color:tomato;}

.top-padding {
  padding-top:25px;
}

.bottom-padding{
  height:300px;
}

.result-height{
  height:40px;
}

.flight-text {
  font-size: .8em;
  color:white;
}

.flight-detail-text {
  color:white;
}

.fl-detail-headings{
  color:tomato;

}

.flight-details {
  background-color: rgba(30,36,40,.5);
  height:160px;
  text-align: center;
  margin: 5px 0;
}

.result-bars {
  background: rgba(30,36,40,.5);
  padding: 20px 10px;
  margin: 0 0 5px 0 !important;
  height: 80px;

  &:hover {
    background: rgba(255,255,255,1);
  }
}

.flight-line-height{
  line-height:70px;
}
.result-bars-bg {
  background: #111418;
  background: -moz-linear-gradient(top, #111418 0%, #111a21 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111418), color-stop(100%,#111a21));
  background: -webkit-linear-gradient(top, #111418 0%,#111a21 100%);
  background: -o-linear-gradient(top, #111418 0%,#111a21 100%);
  background: -ms-linear-gradient(top, #111418 0%,#111a21 100%);
  background: linear-gradient(to bottom, #111418 0%,#111a21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111418', endColorstr='#111a21',GradientType=0 );
  padding: 10px 10px;
  margin:0 0 0 20px;
  height:80px;
}


h2.index{
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  color: white;
  font-size: 6em;
  padding-left: -1em;
  span {
    color: tomato;
    padding: 1em;
  }
}

#waxing-mars{
  position: absolute;
  right:-30px;
  top:-30px;
  height:35%;
  width:auto;
  z-index: 0;
}

#earth {
  position: absolute;
  left:-250px;
  bottom:-430px;
  height:100%;
  width:auto;
  z-index: 0;
}

.row.result-header {
  background: rgba(255,255,255,1);
  margin-bottom: 25px;
  padding: 5px 0;
}


.search-padding {
  margin:5em 0 2em 3em;
  h1{
    color: white;
    font-size: 5em;
    font-family: 'Tech', 'Arial', 'sans-serif';
    margin-top: -3em;
  }
}

.link {
  text-decoration: none;
  color: #333333;
  &:hover{
    color: tomato;
  }
}

h1.show {
  color:white;
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  font-size: 4em;
  padding-top: 1em;
}

.info {
  color: white;
  font-size: 2.5em;
  font-family: 'Tech', 'Arial', 'sans-serif';
}

.book_it {
  font-size: 3em;
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  margin-top: 1em;
  padding-bottom: 300px;
  a {
    color: tomato;
  }
}

#spaceman {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#graph {
  position: absolute;
  bottom: 10px;
  right: 140px;
}

.weather.origin {
  color: white;
}