// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#helmet{
  position: absolute;
  right:-30px;
  bottom:-200px;
  height:80%;
  width:auto;
  z-index: 0;
}

#helmet2{
  position: absolute;
  left:-30px;
  bottom:-200px;
  height:80%;
  width:auto;
  z-index: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}