// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.any {color: white;
  font-size: 3em;
  padding-top: 2em;
  font-family: 'EmpireState', 'Arial', 'sans-serif';
  }